<launch>
  # Load robot description
  <param name="robot_description" command="$(find xacro)/xacro  '$(find wbot_description)/urdf/fwd/fwd.urdf.xacro'" />

  # send fake joint values
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
  </node>

  # 订阅/joint_states, 发布tf 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  # Show in Rviz 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wbot_description)/rviz/fwd_description_demo.rviz" />

</launch>